{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "standard-with-typescript",
    "plugin:react/recommended",
    "prettier"
  ],
  "overrides": [
    {
      "files": [".eslintrc.{js,cjs}"],
      "parserOptions": {
        "sourceType": "script"
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json", "./renderer/tsconfig.json"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["react"],
  "rules": {}
}
